

<h1 style="text-align: center;">Choose your avatar and choose wisely</h1>
<div>
    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden" name="avatar_img_id" value="1">
        <input  style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_1.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>

    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden" name="avatar_img_id" value="2">
        <input  style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_2.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>

    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden" name="avatar_img_id" value="3">
        <input style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_3.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>

    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden" name="avatar_img_id" value="4">
        <input  style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_4.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>

    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden" name="avatar_img_id" value="5">
        <input  style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_5.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>

    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden" name="avatar_img_id" value="6">
        <input style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_6.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>

    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden"  name="avatar_img_id" value="7">
        <input style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_7.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>

    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden" name="avatar_img_id" value="8">
        <input style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_8.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>

    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden" name="avatar_img_id" value="9">
        <input style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_9.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>

    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden" name="avatar_img_id" value="10">
        <input style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_10.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>

    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden" name="avatar_img_id" value="11">
        <input style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_11.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>

    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden" name="avatar_img_id" value="12">
        <input style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_12.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>

    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden" name="avatar_img_id" value="13">
        <input style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_13.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>

    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden" name="avatar_img_id" value="14">
        <input style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_14.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>

    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden" name="avatar_img_id" value="15">
        <input style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_15.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>

    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden" name="avatar_img_id" value="16">
        <input style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_16.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>

    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden" name="avatar_img_id" value="17">
        <input style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_17.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>

    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden" name="avatar_img_id" value="18">
        <input style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_18.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>

    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden" name="avatar_img_id" value="19">
        <input style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_19.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>

    <form style="display:inline-block;" action="/select_avatar_put" method="POST">
        <input type="hidden" name="avatar_img_id" value="20">
        <input style=" background-repeat: no-repeat;
            background-size: 100%;
            width: 100px;;
            color: white;
            height: 100px;
            border: none;
            margin: 2px;
            font-size: 7.5px; background-image: url('../img/avatars/avatar_20.jpg');" 
            id="avatar_1" 
            type="submit" value="">
    </form>
</div>

