<h1 style="text-align:center;">Da Rulz</h1>
<hr style="max-width: 900px; margin-top:0px;">

<h2>How you get points:</h2>
<img src="../img/rulz/rules_1.png" alt="pic of rules">

<h2>What do I win? Why should I really care?</h2>
<img style="width:1161px;" src="../img/rulz/rules_3.png" alt="pic of rules">
<h3>Seriously though these prizes or status are not meant to be your key motivation, being healthy is!</h3>

<p><a href="/homePage">Home</a></p> 